@using TechExpoWorld.Web.ViewModels.News
@model IEnumerable<NewsArticleViewModel>

<div class="row row-cols-1 row-cols-md-3 g-4 text-center mb-3">
    @foreach (var news in Model)
    {
        <div class="col">
            <div class="card h-100">
                <a asp-controller="News" asp-action="Details" asp-route-id="@news.Id" asp-route-information="@news.GetNewsArticleInformation()">
                    <article class="card-article-img">
                        <img src="@news.ImageUrl" class="card-img-top" alt="@news.Title (@news.CategoryName)">
                    </article>
                </a>
                <div class="card-body">
                    <h5 class="card-title">@news.Title</h5>
                    <p class="card-text">
                        <span class="text-info">@news.AuthorName - </span>
                        <span class="text-dark">@news.CreatedOn</span>
                    </p>
                    <p class="card-text text-secondary">@news.Content</p>
                    <p class="card-text text-primary">@news.CategoryName</p>
                    <p class="card-text d-flex justify-content-evenly align-items-center">
                        <a asp-controller="News" asp-action="Details" asp-route-id="@news.Id" asp-route-information="@news.GetNewsArticleInformation()" class="btn btn-primary btn-outline-secondary text-white">Read More</a>
                        @if (ViewBag.AreNewsArticlesMine == true || User.IsAdmin())
                        {
                            <a asp-controller="News" asp-action="Edit" asp-route-id="@news.Id" class="btn btn-info btn-outline-warning">Edit</a>
                            <a asp-controller="News" asp-action="Delete" asp-route-id="@news.Id" class="btn btn-danger btn-outline-dark">Delete</a>
                        }
                    </p>
                </div>
            </div>
        </div>
    }
</div>