@model NewsArticleDetailsServiceModel

<article>
    <h2>@Model.Title</h2>
    <div>
        <span class="text-info">@Model.AuthorName - </span>
        <span class="text-dark">@Model.CreatedOn</span>
        <span class="float-right">Views: @Model.ViewCount Comments: 0</span>
    </div>
    @if (Model.LastModifiedOn != null)
    {
        <div>Last Edit: @Model.LastModifiedOn</div>
    }
    <div class="float-right">Category:
        <a asp-controller="News" asp-action="All" asp-route-category="@Model.CategoryName"><span class="font-weight-bold">@Model.CategoryName</span></a>
    </div>
    <img class="img-fluid" src="@Model.ImageUrl" alt="@Model.Title (@Model.CategoryName)" />
    <p>@Model.Content</p>
    <span>Tags: </span>
    @foreach (var tag in Model.TagNames)
	{
        <a asp-controller="News" asp-action="All" asp-route-tag="@tag"><span class="font-italic">@tag</span></a>
	}
</article>