@model TechExpoWorld.Web.ViewModels.Events.EventDetailsViewModel

@{
    ViewBag.Title = Model.Title;
}

<div class="card bg-dark text-white">
    <img src="/event-image-details.jpg" class="card-img-top" alt="event image">
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <p class="card-text">@Model.Location</p>
        <p class="card-text">@Model.StartDate - @Model.EndDate</p>
        <div class="row text-center mb-3">
            <div class="col-md-6">
                <div class="card bg-primary">
                    <div class="card-header text-uppercase">Physical Tickets - @Model.TotalAvailablePhysicalTickets/@Model.TotalPhysicalTickets available</div>
                    @if (Model.TotalAvailablePhysicalTickets > 0)
                    {
                        <div class="card-body btn btn-outline-dark border-0">
                            <a asp-controller="Events" asp-action="BookPhysicalTicket" asp-route-id="@Model.Id" class="text-white">
                                <h5 class="card-title">Book a Ticket</h5>
                                <p class="card-text">£@Model.PhysicalTicketPrice</p>
                                <p class="card-text">Click here to book 1 physical ticket</p>
                            </a>
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-6">
                <div class="card bg-secondary">
                    <div class="card-header text-uppercase">Virtual Tickets - @Model.TotalAvailableVirtualTickets/@Model.TotalVirtualTickets available</div>
                    @if (Model.TotalAvailableVirtualTickets > 0)
                    {
                        <div class="card-body btn btn-outline-dark border-0">
                            <a asp-controller="Events" asp-action="BookVirtualTicket" asp-route-id="@Model.Id" class="text-white">
                                <h5 class="card-title">Book a Ticket</h5>
                                <p class="card-text">£@Model.VirtualTicketPrice</p>
                                <p class="card-text">Click here to book 1 virtual ticket</p>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
        <p class="card-text">@Model.Content</p>
    </div>
</div>